<div class="ten wide column">
    <h1 class="ui header">
        <i class="circular star icon"></i>
        <div class="content">
            {{ wishlist.title }}
            <div class="sub header">
                <div class="ui horizontal divided list">
                    <div class="item">
                        {{ wishlist.user.customer.email }}
                    </div>
                </div>
            </div>
        </div>
    </h1>
</div>
