{% from 'SyliusWebBundle:Frontend/Macros:actions.html.twig' import update %}
{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content %}
    <h4>{{ 'webburza.sylius.wishlist.update_header'|trans }}</h4>

    <div class="row">
        <form action="{{ path('webburza_wishlist_account_update', {id: wishlist.id}) }}" method="post" class="form-horizontal" novalidate>
            <input type="hidden" name="_method" value="PUT">
            {{ form_rest(form) }}
            {{ update(path('webburza_wishlist_account_index')) }}
        </form>
    </div>
{% endblock %}
